
.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    /* border: 2px solid black; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid black; */
    background:  rgba(0, 0, 0, 0.6);
}

.time {
    width: 200px;
    text-align: center;
}

.temperature {
    font-size: 44px;
    text-align: center;
}

.main {
    text-align: center;
    /* border: 2px solid black; */
}

.main img {
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}

.main p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    /* border: 2px solid black; */
}

.details {
    margin-top: 20px;
    font-size: 20px;
}

.max-min {
    margin-top: 30px;
}