<div class="container" [ngStyle]="{'background-image': 'url(/' + image + ')'}">

    <div class="back">
        <button routerLink="/">Back</button>
    </div>

    <div class="content">

        <div class="search">
            <form #form="ngForm" (submit)="onSubmit()">
                <input type="text" placeholder="Search City" name="city" [(ngModel)]="searchCity">
                <img src="/assets/images/search.svg" alt="search.jpg" (click)="onSubmit()">
            </form>
        </div>


        <div class="card">
            <div>
                <h1>{{myWeather.currentCity}}</h1>
                <div class="temperature">
                    {{myWeather.temperature | number: "1.0-0"}}° {{myWeather.units=="imperial" ? "F" : "C"}}
                </div>
                <img src={{myWeather.iconURL}} alt={{myWeather.iconURL}}>
                <p class="summary">{{myWeather.summary}}</p>
            </div>

            <hr>

            <div class="details">
                <p>Feels like: {{myWeather.feelsLike | number: "1.0-0"}}° {{myWeather.units=="imperial" ?
                    "F" : "C"}}</p>
                <p>Presure: {{myWeather.pressure}} hPa</p>
                <p>Humidity: {{myWeather.humidity}} %</p>
            </div>

            <form>
                <div class="form-group space">
                    <input type="radio" (change)="onUnitChange()" name="unit"
                        [checked]="myWeather.units=='metric' ? true : false">
                    <label for="celsius">°C</label>
                </div>                
                <div class="form-group">
                    <input type="radio" (change)="onUnitChange()" name="unit">
                    <label for="fahrenheit">°F</label>
                </div>
            </form>
        </div>
    </div>

</div>