.my-container {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* border: 2px solid black; */
}

.my-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* border: 2px solid black; */
}

.back {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 10px;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 6px;
}

button:hover {
    background: rgba(0, 0, 0, 0.3);
}

button:hover+.favorite-list {
    display: block;
}

.favorite-list {
    position: absolute;
    display: none;
    top: 52px;
    right: 10px;
    z-index: 1;
}

.favorite-list:hover {
    display: block;
}

.favorite-head:hover {
    background: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
}

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 12px;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: white;
}

.search input {
    font-size: 16px;
    width: 100%;
    outline: none;
    background: none;
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
    padding: 0 80px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    border-radius: 20px;
    /* border: 2px solid grey; */
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
}

.heart-svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.heart-svg:hover {
    width: 26px;
    height: 26px;
}

.card h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0 10px 0;
    /* border: 2px solid red; */
}

.card img {
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.temperature {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    /* border: 2px solid red; */
}

.summary {
    margin: 0;
    font-size: 30px;
    text-align: center;
    /* border: 2px solid red; */
}

hr {
    width: 100%;
    color: white;
}

.details {
    margin: 10px auto;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    /* border: 2px solid black; */
}

.card form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* border: 2px solid grey; */
}

.bookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .last-found {
    border-radius: 20px;
} */

table {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    border-collapse: collapse;
}

tbody tr {
    cursor: pointer;
}

.close-svg {
    cursor: pointer;
}

.down-svg {
    padding: 4px;
}

.down-svg:hover {
    background: rgba(0, 0, 0, 0.5);
}

tr {
    border-bottom: 1px solid white;
}

tr:hover {
    background: rgba(0, 0, 0, 0.5);
}

.history-head:hover {
    background: none;
}

th,
td {
    font-size: 20px;
    padding: 10px 20px;
    /* border: 2px solid red; */
}

@media(max-width: 1040px) {
    .search input {
        font-size: 15px;
    }

    button {
        font-size: 16px;
    }

    .favorite-list {
        top: 48px;
    }

    .card {
        padding: 0 60px;
    }

    .card h1 {
        font-size: 36px;
    }

    .temperature {
        font-size: 46px;
    }

    .summary {
        font-size: 26px;
    }

    .details {
        font-size: 20px;
    }

    .bookmark {
        flex-direction: column;
    }

    .last-found {
        margin-right: 0;
        margin-bottom: 20px;
    }

    th,
    td {
        font-size: 18px;
        padding: 4px 10px;
    }
}

@media(max-width: 550px) {
    button {
        font-size: 14px;
    }

    .search input {
        font-size: 14px;
    }

    .card {
        padding: 0 40px;
    }

    .card h1 {
        font-size: 32px;
    }

    .temperature {
        font-size: 42px;
    }

    .summary {
        font-size: 22px;
    }

    .details {
        font-size: 18px;
    }

    th,
    td {
        font-size: 16px;
        padding: 4px;
    }
}