<div class="my-container" [ngStyle]="{'background-image': 'url(/' + myWeather1.background + ')'}">

    <!-- T O O L B A R =================================================================================== -->
    <div class="toolbar-container">
        <div class="toolbar-content">

            <!-- HOME ------------------------------------------------------------------------ -->
            <div class="home">
                <a routerLink="/">Back</a>
            </div>

            <!-- SEARCH BAR ------------------------------------------------------------------ -->
            <div class="search">
                <form #form="ngForm" (submit)="search()">
                    <input type="text" placeholder="Search City" name="city" [(ngModel)]="searchCity">
                    <img src="/assets/svgs/search.svg" alt="search.jpg" (click)="search()">
                </form>
            </div>

            <!-- FAVORITES ------------------------------------------------------------------- -->
            <div class="favorites">
                <a>Favs</a>
                <div class="dropdown-fav">
                    <table>
                        <thead>
                            <tr *ngIf="favorites.length<=0">
                                <th colspan="4"> - - - empty list - - -</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of favorites; index as ind" (click)="getFavoriteCity(item)">
                                <td> {{ind+1}} </td>
                                <td> {{item.currentCity}} </td>
                                <td> {{item.temperature | number: "1.0-0"}}° C </td>
                                <td (click)="removeFavoriteCity(item)">
                                    <img src="/assets/svgs/x-lg-white.svg" alt="close">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- B O D Y ========================================================================================= -->
    <div class="my-content">

        <!-- WAINTING... --------------------------------------------------------------------- -->
        <div class="waiting">
            <h1 style="color: white" *ngIf="!myWeather1.currentCity">Waiting...</h1>
        </div>

        <!-- C A R D ------------------------------------------------------------------------- -->
        <div class="card" *ngIf="myWeather1.currentCity">

            <h1>{{myWeather1.currentCity}}</h1>

            <div class="heart" (click)="setFavorite(myWeather1)">
                <img [src]="myWeather1.favorite ? '/assets/svgs/heart-fill-red.svg' : '/assets/svgs/heart-white.svg'"
                    [alt]="'icon'">
            </div>

            <p class="temperature">
                {{myWeather1.temperature | number: "1.0-0"}}° C
            </p>

            <p>Feels like: {{myWeather1.feelsLike | number: "1.0-0"}}° C</p>

            <div class="icon-svg">
                <img src="https://openweathermap.org/img/wn/{{myWeather1.icon}}@2x.png" alt="icon">
            </div>

            <hr>

            <p>Presure: {{myWeather1.pressure * 0.750061683 | number: "1.0-0"}} mmHg</p>
            <p>Humidity: {{myWeather1.humidity}} %</p>
            <p>
                Max/Min: {{myWeather1.tempMax | number: "1.0-0"}}° /
                {{myWeather1.tempMin | number: "1.0-0"}}° C
            </p>

            <div class="reset-location" *ngIf="isCurrentCity()">
                <hr>
                <p (click)="resetCurrentLocation()">Reset Location</p>
            </div>
        </div>


        <!-- HISTORY -------------------------------------------------------------------------- -->
        <div class="history" *ngIf="myWeather1.currentCity">

            <table>
                <thead *ngIf="lastFounds.length>0">
                    <tr>
                        <th colspan="4" style="text-align: left;">History</th>
                        <th style="text-align: right;" (click)="clearLastFound()">
                            <img src="/assets/svgs/x-lg-white.svg" alt="close">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lastFounds;" (click)="getLastFound(item)">
                        <td> {{item.currentCity}} </td>
                        <td> {{item.temperature | number: "1.0-0"}}° C </td>
                        <td> {{item.summary}} </td>
                        <td> {{item.humidity}}% </td>
                        <td> {{item.pressure * 0.750061683 | number: "1.0-0"}} mmHg </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>