.my-container {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid black; */
}

/* T O O L B A R ======================================= */
/* ===================================================== */
.toolbar-container {
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.3);
}

.toolbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: auto;
    /* border: 2px solid red; */
}

/* HOME => FAVORITES --------------- */

/* SEARCH ------------------------- */
.search {
    width: 500px;
}

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    background: white;
}

.search input {
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    background: none;
}

.search img {
    cursor: pointer;
}

/* FAVORITES ------------------------- */
.favorites {
    position: relative;
    display: inline-block;
}

.mobile {
    display: none;
}

.home a,
.favorites a {
    padding: 16px 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.3);
}

.home a:hover,
.favorites a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.dropdown-fav {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.favorites:hover .dropdown-fav {
    display: block;
}

/* TABLE ----------------------------- */
table {
    color: white;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5);
}

thead tr {
    background: rgba(0, 0, 0, 0.3);
}

tbody tr {
    cursor: pointer;
}

tr {
    border-bottom: 1px solid white;
}

tr:last-child {
    border: none;
}

tr:hover {
    background: rgba(0, 0, 0, 0.5);
}

th,
td {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    white-space: nowrap;
    transition: 0.3s;
    /* border: 2px solid red; */
}

th img {
    cursor: pointer;
}

th img:hover,
td img:hover {
    transform: scale(1.15);
}

/* B O D Y ============================================= */
/* ===================================================== */
.my-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 90%;
    /* border: 2px solid black; */
}

/* CARD ----------------------------- */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    margin: 20px 0;
    padding: 20px 80px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    /* border: 2px solid grey; */
}

.refresh {
    position: absolute;
    top: 12px;
    left: 12px;
}

.refresh img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.refresh img:hover {
    transform: scale(1.08);
}

.heart {
    position: absolute;
    top: 12px;
    right: 12px;
}

.heart img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.heart img:hover {
    transform: scale(1.08);
}

.card h1 {
    margin: 6px 0;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    /* border: 1px solid red; */
}

.card p {
    margin: 0;
    /* border: 1px solid red; */
}

.temperature {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    /* border: 1px solid red; */
}

.icon-svg img {
    width: 120px;
    /* border: 1px solid red; */
}

hr {
    width: 100%;
    margin: 14px 0;
    color: white;
}

.details {
    margin: 10px auto;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    /* border: 2px solid black; */
}

.card form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* border: 2px solid grey; */
}

.reset-location {
    color: red;
}

.reset-location p {
    cursor: pointer;
}

.reset-location p:hover {
    transform: scale(1.02);
}

/* HiSTORY ============================================= */
/* ===================================================== */
/* .history {
    border: 2px solid red;
} */

/* TABLE SETTINGS - FROM FAVORITES */

@media(max-width: 1530px) {

    .home,
    .favorites {
        margin: 0 14px;
    }

    th,
    td {
        padding: 12px;
    }
}

@media(max-width: 1020px) {
    .my-content {
        overflow-y: scroll;
    }
    
    .favorites {
        display: none;
    }

    .mobile {
        display: block;
    }

    .home a,
    .favorites a {
        padding: 12px 22px;
        font-size: 17px;
    }

    .search form {
        padding: 10px 14px;
    }

    th,
    td {
        padding: 11px;
        font-size: 17px;
    }

    .card h1 {
        margin: 4px 0;
        font-size: 32px;
        line-height: 36px;
    }

    .temperature {
        font-size: 36px;
        line-height: 36px;
    }

    .icon-svg img {
        width: 100px;
    }
}

@media(max-width: 766px) {
    .search {
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        font-size: 16px;
    }

    .card {
        margin: 16px 0;
    }
}

@media(max-width: 550px) {

    .home a,
    .favorites a {
        padding: 10px 16px;
        font-size: 16px;
    }

    .search input {
        font-size: 14px;
    }

    th,
    td {
        padding: 6px;
        font-size: 14px;
    }

    .card {
        margin: 14px 0;
        padding: 20px 60px;
    }

    .card h1 {
        margin: 2px 0;
        font-size: 28px;
        line-height: 32px;
    }

    .temperature {
        font-size: 30px;
        line-height: 30px;
    }

    .icon-svg img {
        width: 80px;
    }

    .history {
        width: 100%;
        overflow: scroll;
    }
}

@media(max-width: 350px) {
    .card {
        padding: 20px 40px;
    }
}