<div class="my-container" [ngStyle]="{'background-image': 'url(/' + myWeather1.backgroundImage + ')'}">

    <div class="toolbar-container">
        <div class="toolbar-content">
            <button routerLink="/">Back</button>

            <!-- SEARCH BAR --------------------------------------------------------------------------------- -->
            <div class="search">
                <form #form="ngForm" (submit)="search()">
                    <input type="text" placeholder="Search City" name="city" [(ngModel)]="searchCity">
                    <img src="/assets/svgs/search.svg" alt="search.jpg" (click)="search()">
                </form>
            </div>

            <div class="favorite">
                <button>Favorites</button>
                <div class="favorite-list">
                    <table>
                        <thead>
                            <tr *ngIf="favorites.length<=0">
                                <th colspan="4"> - - - empty list - - -</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of favorites; index as ind" (click)="getFavoriteCity(item)">
                                <td>{{ind+1}}</td>
                                <td>
                                    {{item.currentCity}}
                                </td>
                                <td>
                                    {{item.temperature | number: "1.0-0"}}° C
                                </td>
                                <th style="text-align: right;" (click)="removeFavoriteCity(item)">
                                    <img class="close-svg" src="/assets/svgs/x-lg-white.svg" alt="x-lg-white">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="my-content">
        <div class="content">

            <!-- WAINTING FOR API RESPONSE ------------------------------------------------------------------ -->
            <div class="waiting">
                <h1 style="color: white" *ngIf="!myWeather1.currentCity">Waiting...</h1>
            </div>

            <!-- C A R D ------------------------------------------------------------------------------------ -->
            <div class="card" *ngIf="myWeather1.currentCity">
                <div>
                    <h1>{{myWeather1.currentCity}}</h1>

                    <div class="heart" (click)="setFavorite(myWeather1)">
                        <img class="heart-svg" src="/assets/svgs/heart-fill-red.svg" alt="heart-fill-red.svg"
                            *ngIf="myWeather1.favorite">
                        <img class="heart-svg" src="/assets/svgs/heart-white.svg" alt="heart-white.svg"
                            *ngIf="!myWeather1.favorite">
                    </div>

                    <div class="temperature">
                        {{myWeather1.temperature | number: "1.0-0"}}° C
                    </div>
                    <img src={{myWeather1.iconURL}} alt={{myWeather1.iconURL}}>
                    <p class="summary">{{myWeather1.summary}}</p>
                </div>

                <hr>

                <div class="details">
                    <p>Feels like: {{myWeather1.feelsLike | number: "1.0-0"}}° C</p>
                    <p>Presure: {{myWeather1.pressure}} hPa</p>
                    <p>Humidity: {{myWeather1.humidity}} %</p>
                </div>

                <a *ngIf="isCurrentCity()" (click)="resetCurrentLocation()">Reset Current Location</a>
            </div>


            <!-- HISTORY --------------------------------------------------------------------------------- -->
            <div class="bookmark" *ngIf="myWeather1.currentCity">

                <table>
                    <thead>
                        <tr class="history-head">
                            <th colspan="5" style="text-align: left;">History</th>
                            <th style="text-align: right;">
                                <img class="close-svg down-svg" src="/assets/svgs/x-lg-white.svg" alt="x-lg-white"
                                    (click)="clearLastFound()">
                            </th>
                        </tr>
                        <tr *ngIf="lastFounds.length<=0">
                            <th colspan="8"> - - - empty list - - -</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lastFounds; index as ind" (click)="getLastFound(item)">
                            <td>{{ind+1}}</td>
                            <td>
                                {{item.currentCity}}
                            </td>
                            <td>
                                {{item.temperature | number: "1.0-0"}}° C
                            </td>
                            <td>
                                {{item.summary}}
                            </td>
                            <td>
                                {{item.humidity}}%
                            </td>
                            <td>
                                {{item.pressure}} hPa
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>