<div class="container" [ngStyle]="{'background-image': 'url(/' + myWeather5.background + ')'}">

    <div class="back">
        <button routerLink="/">Back</button>
    </div>

    <div class="content">

        <div class="search">
            <form #form="ngForm" (submit)="search()">
                <input type="text" placeholder="Search City" name="city" [(ngModel)]="searchCity">
                <img src="/assets/svgs/search.svg" alt="search.jpg" (click)="search()">
            </form>
        </div>

        <div class="waiting">
            <h1 style="color: white" *ngIf="!myWeather5.currentCity">Waiting...</h1>
        </div>

        <h1 class="city" *ngIf="myWeather5.currentCity">{{myWeather5.currentCity}}</h1>

        <div class="cards" *ngIf="myWeather5.currentCity">

            <div class="card" *ngFor="let card of myWeather5.list">

                <div class="time">{{card.dt_txt}}</div>

                <div class="temperature">{{card.main?.temp | number: "1.0-0"}}° C</div>
                <div class="main" *ngFor="let wth of card.weather">
                    <img src="https://openweathermap.org/img/wn/{{wth.icon}}@2x.png" alt="icon">
                    <p>{{wth.main}}</p>
                </div>

                <div class="details">
                    <div>Pressure: {{card.main?.pressure * 0.750061683 | number: "1.0-0"}} mmHg</div>
                    <div>Humidity: {{card.main?.humidity}} %</div>
                    <div class="max-min">
                        <div>
                            Feels like: {{card.main?.feels_like | number: "1.0-0"}}° C
                        </div>
                        <div>
                            Max/Min: {{card.main?.temp_max | number: "1.0-0"}}° / {{card.main?.temp_min | number:
                            "1.0-0"}}° C
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>