<div class="container" [ngStyle]="{'background-image': 'url(/' + myWeather5.backgroundImage + ')'}">

    <div class="back">
        <button routerLink="/">Back</button>
    </div>

    <div class="content">

        <div class="search">
            <form #form="ngForm" (submit)="onSubmit()">
                <input type="text" placeholder="Search City" name="city" [(ngModel)]="searchCity">
                <img src="/assets/svgs/search.svg" alt="search.jpg" (click)="onSubmit()">
            </form>
        </div>

        <div class="waiting">
            <h1 style="color: white" *ngIf="!myWeather5.currentCity">Waiting...</h1>
        </div>

        <h1 class="city" *ngIf="myWeather5.currentCity">{{myWeather5.currentCity}}</h1>

        <div class="cards" *ngIf="myWeather5.currentCity">

            <div class="card" *ngFor="let item of myWeather5.list">

                <div class="time">{{item.dt_txt}}</div>

                <div class="temperature">{{item.main?.temp | number: "1.0-0"}}° C</div>
                <div class="main" *ngFor="let i of item.weather">
                    <img src="https://openweathermap.org/img/wn/{{i.icon}}@2x.png" alt="icon">
                    <p>{{i.main}}</p>
                </div>

                <div class="details">
                    <div>Humidity: {{item.main?.humidity}} %</div>
                    <div>Pressure: {{item.main?.pressure}} hPa</div>
                    <div class="max-min">
                        <div>
                            Max/Min: {{item.main?.temp_max | number: "1.0-0"}}° / {{item.main?.temp_min | number:
                            "1.0-0"}}° C
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>